---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">My Face</h1>
			<p class="hero__text">
				This is page about my face, look, how beautiful it is!
			</p>
			<Boton href="#" texto="It's a button that do nothing"/>
		</div>
    <img
		class="hero__img"
		src="/img/my_face_logo.jpg"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
