---
import Title from "../atoms/Title.astro";
import "./about.css";
---

<section id="about" class="about">
  <div class="about__container">
    <img
      class="about__img"
      src="/img/my_face_logo.jpg"
      alt="Foto de perfil de Jhon Doe"
    />

    <div class="about__content">
      <Title margin="1rem" contenido="About this project" />
      <p class="about__text">
        I grabbed some template from Astro templates because I was too lazy to do it by myself. I created that
        cryptocurrency to show why it's not a good idea to buy random shitcoins on the internet.
      </p>
			<p class="about__text">
I did it because I was very bored
			</p>

      <!--<SocialIcons width="25" height="25" />-->
    </div>
  </div>

</section>
